.home-container {
  width: 100%;
}

.backgroundImage {
  padding: 2%;
  justify-content: space-between;
  align-items: center;
}

.text-section {
  max-width: 40%;
  text-align: left;
}

.video-section video {
  width: 80%;
  height: auto;
  border-radius: 10px;
}

.centered-content h1 {
  font-weight: 600;
}

.animated-card {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  margin: auto;
  max-width: 80%;
}

.card-image {
  width: 80%;
  border-radius: 10px;
  color:rgb(196, 196, 197)
}
.backgroundImage::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%; /* Adjust height of the wave */
  
  background: #102b85; /* Color of the wave */
  z-index: -1; /* Places it behind the content */
  border-radius: 10%,10%,0,0,;
}


html {
  scroll-behavior: smooth;
}



hr.hr-1 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}